{% extends 'admin_dashboard.html' %}
{% block body %}
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Add Category</h5>
        <div class="container-fluid">
            <form action="product_data" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Category</label>
                            <select name="category" class="form-control" required>
                                <option value="">Choose Category</option>
                                {% for i in data %}
                                
                                <option value="{{i.0}}">{{i.1}}</option>
                                
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="label">Product Title</label>
                            <input type="text" name="title" class="form-control" placeholder="Product Name">
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="label">Product Selling Price</label>
                            <input type="number" name="sp" class="form-control" placeholder="Product Selling Price">
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="label">Product Discount Price</label>
                            <input type="number" name="dp" class="form-control" placeholder="Product Discount Price">
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="label">Product Brand</label>
                            <input type="text" name="brand" class="form-control" placeholder="Product Brand">
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Image</label>
                            <input type="file" name="images" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="desc" class="form-control" placeholder="write description here"></textarea>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}