{% extends 'admin_dashboard.html' %}
{% block body %}
<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Change Password</h5>
        <h6 class="p-2 text-center fs-4 text-danger">{{ msg }}</h6>
        <div class="container">
            <form action="admin_change_password_data" method="POST">
                {% csrf_token %}
                <div class="mb-3 shadow">
                    <input type="text" name="o" placeholder="Old Password" class="form-control">
                </div>
                <div class="mb-3 shadow">
                    <input type="password" name="n" placeholder="New Password" class="form-control">
                </div>
                <div class="mb-3 shadow">
                    <input type="password" name="c" placeholder="Confirm Password" required class="form-control">
                </div>
                <div class="d-flex justify-content-between">
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-success px-5">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}